body { 
    margin-top: 0.7%; 
    background:whitesmoke !important; 
}
.alert { 
    margin-bottom: 1px;
    height: 30px;
    line-height:30px;
    padding:0px 15px;
}

#pcapFileName {
    background-color: white !important;
    color:black !important;
}

#inputRequest {
    background-color: white !important;
    color:blue !important;
    border-style: dotted !important;
    border-color: blue !important;
    border-right-color: whitesmoke !important;
    border-right-style: solid !important;
    border-right-width: 2px !important;
}

#inputResponse {
    background-color: white !important;
    color:brown !important;
    border-style: dotted !important;
    border-color: brown !important;
    border-left-width: 2px !important;
    border-left-color: whitesmoke !important;
    border-left-style: solid !important;
}